* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*end of CSS reset*/


html {
  scroll-behavior: smooth; /*finoman scroll-oz, ha menüre kattintunk az oldalakra*/
}

body {
  font-family: Roboto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
  text-align: center;
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 100vh;
}

section.bg-image {
  height: 100vh;
  overflow: hidden;
}

section.bg-image img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

section.bg-image h1 {
  margin-top: 40px;
  margin-left: 40px;
  font-family: Poppins;
  font-size: 100px;
  color: whitesmoke;
}

section.bg-image button {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 60px;
  border-radius: 3px;
  margin: 40px 0;
  transform: translateX(-50%);
  background: linear-gradient(95.04deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.72) 79.48%, rgba(255, 255, 255, 0) 117.07%);
  /*background-color: #09CED9;*/
}

#about {
  min-height: unset;
  background-color: rgb(252, 253, 173);
}

#about article {
  width: 100%;
  max-width: 400px;
  padding: 80px 20px;
  margin: 0 auto;
}

#about h2 {
  padding-bottom: 20px;
}

#services {
  padding: 80px 0;
  background-image: url(https://user-images.githubusercontent.com/64097209/152344910-0139cde6-ce38-4328-8b20-625d77913962.jpg);
  background-size: cover;
  background-position: center center;
}

#services ul {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  background-color: rgba(83, 83, 83, 0.68);
  color: rgb(241, 241, 241);
}

#services ul li h2,
#services ul li p {
  text-align: center;
}

#login {
  background-color: rgb(53, 156, 170);
}

#login form {
  width: 100%;
  max-width: 400px;
  padding: 40px 20px;
  margin: 0 auto;
}

#login input,
#login label {
  display: block;
  width: 100%;
}

#login label {
  font-size: 12px;
  padding-bottom: 10px;
}

#login input {
  height: 60px;
  padding: 0 10px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color: white;
  border-radius: 8px;
}

#login button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  background-color: #09CED9;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}



/*input {
  width: 50%;
  padding: 12px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 6px;
}*/
